
header{
     border-width:1px;
 border-style:dotted;
 border-color:black;
 background-color: rgba(150, 151, 151, 0.5);
}



main{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 10px;
}


aside {
  position: relative;
  top: 10px;
  left: 220px;
}
aside img{
  max-width: 40%;
	height: auto;
}
footer img {
  height: 1.5em
}
footer{
     border-width:1px;
 border-style:dotted;
 border-color:black;
 background-color: rgba(150, 151, 151, 0.5);
}

header>nav>ul{
  display: flex;
  flex-wrap: wrap;
}
header>nav>ul>li{
  display: flex;
  flex-grow: 1;
  flex-basis: 20%;
}
header>nav>ul>li>a{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header{
  text-align: center;
}