header>nav>ul{
  display: flex;
  flex-wrap: wrap;
}


header>nav>ul>li{
  display: flex;
  flex-grow: 1;
  flex-basis: 20%;
}

main>nav>ul{
    display: flex;
  flex-wrap: nowrap;
}

header>nav>ul>li>a{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main>nav>ul>li{
  list-style-type: none;
  flex-grow: 1;
}


nav>ul>li>img{
  width: 15rem
}

nav ul li{
  width: 15rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main>img{
  margin: auto;
  width: 50em;
  flex-grow: 1;
  display: block;
}

footer img{
  width: 1em;
}

h1{
  text-align: center;
}


