/* Règles générales */
main>section{
  border-width:1px;
 border-style:solid;
 border-color:black;
 background-color: rgba(53, 173, 196, 0.5);
}

header{
     border-width:1px;
 border-style:dotted;
 border-color:black;
 background-color: rgba(150, 151, 151, 0.5);
}

footer{
     border-width:1px;
 border-style:dotted;
 border-color:black;
 background-color: rgba(150, 151, 151, 0.5);
}

header>h1{
  color: darkslateblue;
}
